/* #606C38 
#283618 
#FEFAE0
#DDA15E
#BC6C25 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    background: url(../poze/back.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 background-size: 100% 120%;
  }
  
    
  body {
    font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
    line-height: 1.6;
    height: 100vh;

}

.logo{
    width: 150px;
    height: 75px;
}

.container {
    width: 100%;
    height: 100%;
}

p{
    word-break: break-all;
    width: 75em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

ul {list-style-type: none;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #871720;
  text-align: center;
}

/* Month list */
.month ul {
  
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 12.5%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
    width: 100%;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.5%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

.sec{
  box-shadow: 10px 10px 5px grey;
  padding: 3%;
  background-image: url(../poze/back.png);
}

section#not{
  background: url(../poze/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-size: 100% 100%;
}

