// ---------- Colors ----------//

$cl-white: #fbfffc;
$cl-red: red;
$cl-black: #060606;

// ---------- Colors ----------//

$bg-color: $cl-white;

$cl-text: $cl-black;

// ---------- Font Family ----------//
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
// $font-family: "Open Sans";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");
$font-family: "Space Mono", monospace;
