@use "." as *;
.btn {
  background-color: $cl-black;
  width: fit-content;
  color: $cl-white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}
