*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  
}
html {
    scroll-behavior: smooth;
    
  }
  body {
    font-family: Helvetica;
    line-height: 1.6;
    height: 100vh;
background-color: #EFF9DA;
font-family: 'Permanent Marker', cursive;
}
  .background{
    background-color:  #f3a847;
   height: 80vw;
   width: 50%;
   margin: 5% 0%;
    position: relative;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
  }
  @media (min-width: 625px)
  {
    .background{
        height: 80%;
    }}
  h1{
 
    font-size: 12vw;
    color: black;
    position: absolute;
    left: 55%;
    top: 20%;
    text-shadow: 0px 13px 10px rgba(0, 0, 0, 0.288);
}
 hr{
   height: 5px;
   border-radius: 5px;
   box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.288);
 }

.title{
    display: inline-block;
}

.back{
    text-decoration: none;
    transform: scale(2);
    background-image: url("../Photos/main.png");
    background-size: cover;
    transition: 0.3s ease transform;
    z-index: 1;
    color: #ffffff;
    padding: 5%;
    border-radius: 100%;
    position: absolute;
    left: 100%;
    top: 45vw;
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.288);
}

.back:after
{
    background-color: #000;
    opacity: 0.16;
    z-index: 2;
}

.back:hover
{
    transform: scale(5);
}


@media (min-width: 1200px)
{
   .back {
       
    left: 150%;
    top: 47%;
}}

.content{
  padding: 5%;
  margin: 10%;
  border-left: 1px solid rgb(107, 106, 106);
  border-bottom: 1px solid rgb(107, 106, 106);
}


.footer {
  margin-top: 5%;
  background-color: #000000;
  color: white;
padding: 2%;
position:absolute;
width:100%;
}

tr, td{

  padding-left: 8%;
}

footer h1{
  vertical-align: 100%;
}

.footer a{
color:#FFFFFF;
}
.socialMedia {
  display: inline-block;
  vertical-align: top;
  text-align: left;


  padding: 0% 5% 0% 5%;
}

@media (min-width: 1200px)
{
   .socialMedia
  {
    margin-left: 60%;

  }}

.socialMedia a {
text-decoration: none;
margin-left: 30px;
text-align: left;
}

.download{
margin-left: 45%;
text-decoration: none;
}
.no{
  font-size: 5em;
  position: relative;
  top: 60%;
  color:#EFF9DA;
  left: 5%;
  font-family: 'Roboto Mono'
}
@media (min-width: 1200px)
{
  .no{
    font-size: 126px;
    left: 5%;
  }}