.background{
    background-color: #787879;
}
h1{
    color: #000000;
    left:35%;

}

#contact{
margin-left: 10px;

}
.content p{
    display: initial;
}
.footer {
    margin-top: 5%;
    background-color: #000000;
    color: white;
  padding: 2%;
  position:absolute;
  width:100%;
  }