.navbar{
    color:black;
    background-color: #dddddd33;
}

body{
    font-family: 'Roboto';

}
h1{
    font-family: 'Bungee Shade';
  }

@media (min-width: 200px)
{
    .box{
        margin-top: 20%;
        padding: 5%;
       

    }
    .box p{
        text-align: center;
        padding: 10%;
    }
  
}

@media (min-width: 800px)
{
    .box{
        display: inline-flex;
        margin-top: 5%;
    }
   
}

.title{
    text-align: center;
    margin-top:15%;
}

.list-group{
    margin-top:15%;
}

.footer {
    margin-top: 5%;
    background-color: #000000;
    color: white;
padding: 2%;
  }

  tr, td{
 
    padding-left: 8%;
  }

  footer h1{
    vertical-align: 100%;
  }

.footer a{
  color:#FFFFFF;
}
  .socialMedia {
    display: inline-block;
    vertical-align: top;
    text-align: left;

    margin-left: 15%;
    padding: 0% 5% 0% 5%;
}

.socialMedia a {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 30px;
  text-align: left;
}

.card{
    margin:15% 10% 15% 35%;
}