@import "../../global.scss";

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  img {
    width: 25px;
  

  }

  .menu {

    button {
      padding: 0.5em 1em;
      background-color: transparent;
      border: 2px solid black;

      &:hover {
        background-color: $edgeColor;
        border-color: transparent;

        color: $whiteColor;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
        border-right: none;
      }
    
    }
  }
}
