@import "../../global.scss";

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  h1 {
    color: green;
    font-size: 10vw;
    margin: 0;
    @include mobile {
      font-size: 50px;
    }
  }
  h2 {
    color: green;
    @include mobile {
      font-size: 15px;
      text-align: center;
    }
  }
  button {
    padding: 1vw 2vw;
    background-color: transparent;
    border: 3px solid black;
    border-color: green;
    cursor: pointer;

    p {
      color: green;
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    &:hover {
      background-color: green;
      p {
        color: $blackColor;
      }
    }
  }
}
