@import "./global.scss";
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  background: rgb(253, 242, 29);
  background: linear-gradient(
    144deg,
    rgb(253, 219, 107) 0%,
    rgb(253, 77, 77) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background: rgb(253, 242, 29);
  background: linear-gradient(
    144deg,
    rgb(253, 219, 107) 0%,
    rgb(253, 77, 77) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
