---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import AnimatedHeader from "../components/shared/AnimatedHeader.astro";
---

<Layout title="Baltac Mihai">
  <main>
    <section class="hero">
      <h1>
        <div class="word">
          <span class="letter">B</span>
          <span class="letter">â</span>
          <span class="letter">l</span>
          <span class="letter">t</span>
          <span class="letter">a</span>
          <span class="letter">c</span>
        </div>
        <div class="word">
          <span class="letter">M</span>
          <span class="letter">i</span>
          <span class="letter">h</span>
          <span class="letter">a</span>
          <span class="letter">i</span>
        </div>
      </h1>
      <p class="description">
        A developer and designer who specializes in creating elegant,
        user-friendly websites for businesses

        <!-- looking to remain ahead of the
        competition. With an emphasis on modern, up-to-date design that is
        simple and easy to browse, you can provide your consumers with a smooth
        experience. -->
      </p>
    </section>
    <AnimatedHeader text="About" />
    <section class="about">
      <img src="/PersonalPhoto.png" alt="" />
      <div class="description">
        <h3>Bâltac Mihai</h3>
        <h4>/Bewl-tac Me-hi/</h4>
        <p>
          I'm not your typical Designer or Developer. I aim to challenge norm by
          providing unique and unusual solutions that exceed expectations.
        </p>
        <div class="btn">Discover More</div>
      </div>
    </section>
    <AnimatedHeader text="Project" />
    <section class="projects">
      <a class="img-section" href="#">
        <img src="/ComponentUI.svg" alt="" />
        <div class="description">
          <p class="title">Component UI</p>
          <div class="roles">
            <p class="role">Product Owner</p>
            <p class="role">UI & Ux Designer</p>
            <p class="role">Frontend</p>
          </div>
        </div>
      </a>
      <a class="img-section" href="#">
        <img src="/AlfaStar.svg" alt="" />
        <div class="description">
          <p class="title">Alfastar</p>
          <div class="roles">
            <p class="role">UI & Ux Designer</p>
            <p class="role">Frontend</p>
          </div>
        </div>
      </a>
    </section>
    <AnimatedHeader text="Contact" />
    <section class="contact">
      <Form />
    </section>
  </main>
</Layout>

<script is:inline>
  const lis = document.querySelectorAll(".letter");
  let index = 0;

  function animateListItem() {
    if (index >= lis.length) {
      index = 0;
    }
    lis[index].style.fontStyle = "italic";
    setTimeout(() => {
      lis[index].style.fontStyle = "normal";
      index++;
      animateListItem();
    }, 1000);
  }

  animateListItem();
</script>

<style lang="scss">
  @use "../assets/scss" as *;
  section {
    min-height: 100vh;

    @include phone {
      height: fit-content !important;
    }
    &.hero {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 83vh;
      padding: $lg-size 0;

      @include phone {
        min-height: 82vh;
      }

      h1 {
        font-size: $page-title-size;
        @include tablet {
          font-size: 7rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        @include phone {
          font-size: 2.5rem;
        }
        .word {
          display: flex;
          gap: calc($lg-size / 2);

          &:nth-child(2) {
            margin-left: calc($lg-size * 7);

            @include tablet {
              margin-left: 0;
            }
          }
          .letter {
            &:hover {
              font-style: italic;
            }
          }
        }
      }
      .description {
        font-size: $subtitle-size;
        text-align: right;
        width: 50%;
        align-self: flex-end;
        margin-top: 2rem;

        @include tablet {
          text-align: center;
          width: 100%;
        }
      }
    }
    &.about {
      display: flex;
      justify-content: space-between;
      height: auto;
      flex-wrap: wrap;
      margin: $lg-size 0;
      $img-size: 500px;
      img {
        flex: 0 0 30%;
        max-width: $img-size;
        max-height: $img-size;
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include phone {
          flex: 0 0 100%;
        }
      }

      .description {
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: $img-size;

        @include phone {
          flex: 0 0 100%;
        }
        h3 {
          font-size: 4rem;
          @include phone {
            text-align: center;
            font-size: 2rem;
          }
        }
        h4 {
          font-size: 2.5rem;
          color: #ccc;
          @include phone {
            text-align: center;
            font-size: 1.5rem;
          }
        }
        p {
          font-size: 2rem;
          margin-right: 2rem;
          margin-top: 2rem;
          @include phone {
            text-align: center;
            font-size: 1rem;
            margin-right: 0;
          }
        }
      }
    }
    &.projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: $lg-size 0;

      .img-section {
        flex: 0 0 47.5%;
        text-decoration: none;
        height: fit-content;

        @include phone {
          flex: 0 0 100%;
          width: 100%;
        }
        img {
          width: 100%;
        }
        .description {
          color: $cl-text;

          p {
          }
          .title {
            font-size: $title-size;
            margin-bottom: calc($lg-size / 2);
          }
          .roles {
            display: flex;
            gap: calc($lg-size / 2);
            color: #676;
            @include phone {
              flex-direction: column;
            }

            .role {
              border: 1px solid #676;
              padding: 1rem;
              border-radius: 10px;
              font-size: $text-size;
            }
          }
        }
      }
    }
    &.contact {
      margin: $lg-size 0;
    }
  }
</style>
