---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import SectionDivider from "../components/shared/SectionDivider.astro";
---

<Layout title="Baltac Mihai">
  <main>
    <section class="hero">
      <h1>
        <div class="word">Bâltac</div>
        <div class="word">Mihai</div>
      </h1>
      <p class="description">
        A developer and designer who specializes in creating elegant,
        user-friendly websites for businesses

        <!-- looking to remain ahead of the
        competition. With an emphasis on modern, up-to-date design that is
        simple and easy to browse, you can provide your consumers with a smooth
        experience. -->
      </p>
    </section>
    <SectionDivider text="About" />
    <section class="about">
      <img src="/PersonalPhoto.png" alt="" />
      <div class="description">
        <h3>Bâltac Mihai</h3>
        <h4>/Bewl-tac Me-hi/</h4>
        <p>
          I'm not your typical Designer or Developer. I aim to challenge norm by
          providing unique and unusual solutions that exceed expectations.
        </p>
        <div class="btn">Discover More</div>
      </div>
    </section>
    <SectionDivider text="Project" />
    <section class="projects">
      <a class="img-section" href="#">
        <img src="/ComponentUI.svg" alt="" />
        <div class="description">
          <p class="title">Component UI</p>
          <div class="roles">
            <p class="role">Product Owner</p>
            <p class="role">UI & Ux Designer</p>
            <p class="role">Frontend</p>
          </div>
        </div>
      </a>
      <a class="img-section" href="#">
        <img src="/AlfaStar.svg" alt="" />
        <div class="description">
          <p class="title">Alfastar</p>
          <div class="roles">
            <p class="role">UI & Ux Designer</p>
            <p class="role">Frontend</p>
          </div>
        </div>
      </a>
    </section>
    <SectionDivider text="Contact" />
    <section class="contact">
      <Form />
    </section>
  </main>
</Layout>

<style lang="scss">
  @use "../assets/scss" as *;

  section {
    min-height: 100vh;

    @include mobile {
      height: fit-content !important;
    }
    &.hero {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 85vh;
      min-height: 85vh;
      padding: $lg-size 0;

      @include mobile {
        min-height: 80vh;
      }

      h1 {
        @extend %page-header-size;

        @include tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        @keyframes font-animation {
          0% {
            font-variation-settings: "wght" 400, "wdth" 100;
          }

          25% {
            font-variation-settings: "wght" 800, "wdth" 100;
          }

          50% {
            font-variation-settings: "wght" 600, "wdth" 75;
          }

          75% {
            font-variation-settings: "wght" 400, "wdth" 75;
          }

          100% {
            font-variation-settings: "wght" 400, "wdth" 100;
          }
        }
        .word {
          letter-spacing: 20px;
          animation: font-animation 2s ease-in-out infinite;

          &:nth-child(2) {
            margin-left: calc($lg-size * 7);

            @include tablet {
              margin-left: 0;
            }
          }
        }
      }
      .description {
        @extend %paragraf-size;
        text-align: right;
        width: 50%;
        align-self: flex-end;
        margin-top: 2rem;

        @include tablet {
          text-align: center;
          width: 100%;
        }
      }
    }
    &.about {
      display: flex;
      justify-content: space-between;
      height: auto;
      min-height: auto;
      flex-wrap: wrap;
      margin: $lg-size 0;
      $img-size: 400px;
      padding-bottom: 10rem;
      img {
        flex: 0 0 30%;
        max-width: $img-size;
        max-height: $img-size;
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include mobile {
          flex: 0 0 100%;
        }
      }

      .description {
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: $img-size;

        @include mobile {
          flex: 0 0 100%;
        }
        h3 {
          @extend %header-size;
          @include mobile {
            text-align: center;
          }
        }
        h4 {
          @extend %subtitle-size;
          color: #ccc;
          @include mobile {
            text-align: center;
          }
        }
        p {
          @extend %paragraf-size;
          margin-right: 2rem;
          margin-top: 2rem;
          @include mobile {
            text-align: center;
            margin-right: 0;
          }
        }

        .btn {
          @include mobile {
            position: relative;
            margin: 3rem auto;
          }
        }
      }
    }
    &.projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: $lg-size 0;

      .img-section {
        flex: 0 0 45%;
        text-decoration: none;
        height: fit-content;

        @include mobile {
          flex: 0 0 100%;
          width: 100%;
        }
        img {
          width: 100%;
        }
        .description {
          color: $cl-text;

          p {
          }
          .title {
            @extend %subtitle-size;
            margin-bottom: calc($lg-size / 2);
          }
          .roles {
            display: flex;
            gap: calc($lg-size / 2);
            color: #676;
            @include mobile {
              flex-wrap: wrap;
            }

            .role {
              border: 1px solid #676;
              padding: 1rem;
              border-radius: 10px;
              @extend %small-size;

              @include mobile {
                width: fit-content;
              }
            }
          }
        }
      }
    }
    &.contact {
      margin: $lg-size 0;
    }
  }
</style>
