---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import AnimatedHeader from "../components/shared/AnimatedHeader.astro";
---

<Layout title="Baltac Mihai">
  <main>
    <Navbar />
    <section class="hero">
      <h1>
        <div class="word">
          <span class="letter">B</span>
          <span class="letter">â</span>
          <span class="letter">l</span>
          <span class="letter">t</span>
          <span class="letter">a</span>
          <span class="letter">c</span>
        </div>
        <div class="word">
          <span class="letter">M</span>
          <span class="letter">i</span>
          <span class="letter">h</span>
          <span class="letter">a</span>
          <span class="letter">i</span>
        </div>
      </h1>
      <p class="description">
        A developer and designer who specializes in creating elegant,
        user-friendly websites for businesses

        <!-- looking to remain ahead of the
        competition. With an emphasis on modern, up-to-date design that is
        simple and easy to browse, you can provide your consumers with a smooth
        experience. -->
      </p>
    </section>
    <AnimatedHeader text="About" />
    <section class="about">
      <img src="/PersonalPhoto.png" alt="" />
      <div class="description">
        <h3>Bâltac Mihai</h3>
        <h4>/Bewl-tac Me-hi/</h4>
        <p>
          I'm not your typical Designer or Developer. I aim to challenge norm by
          providing unique and unusual solutions that exceed expectations.
        </p>
        <div class="btn">Discover More</div>
      </div>
    </section>
    <AnimatedHeader text="Project" />
    <section class="projects"></section>
  </main>
</Layout>

<style lang="scss">
  @use "../assets/scss" as *;
  section {
    height: 100vh;
    &.hero {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 15rem;
        .word {
          display: flex;
          gap: 1rem;

          &:nth-child(2) {
            margin-left: 20%;
          }
          .letter {
            &:hover {
              font-style: italic;
            }
          }
        }
      }
      .description {
        font-size: 2rem;
        text-align: right;
        width: 50%;
        align-self: flex-end;
        margin-top: 2rem;
        margin-right: 2rem;
      }
    }
    &.about {
      display: flex;
      gap: 5rem;
      margin: 5rem 5rem;
      height: auto;
      img {
        width: 500px;
        height: 500px;
      }

      .description {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 500px;
        h3 {
          font-size: 4rem;
        }
        h4 {
          font-size: 2.5rem;
          color: #ccc;
        }
        p {
          font-size: 2rem;
          margin-right: 2rem;
          margin-top: 2rem;
        }
        .btn {
          background-color: $cl-black;
          width: fit-content;
          color: $cl-white;
          padding: 1rem 2rem;
          font-size: 1.5rem;
          border-radius: 10px;
          position: absolute;
          bottom: 0;
          right: 0;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
</style>
