---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Baltac Mihai">
  <main>
    <Navbar />
    <h1>Under Construction</h1>
  </main>
</Layout>
