---
import Layout from "../layouts/Layout.astro";
import getUniqueItems from "./../utils/getUniqueItems";
import FilterCard from "./../components/organisms/FilterCard.vue";

import content from "./../content/projects.json";

const projects = await Astro.glob("../content/projects/*.mdx");

const filters = getUniqueItems(
  projects?.map((project) => {
    return project.frontmatter.tags;
  })
)
  .concat("All")
  .reverse();

// console.log(filters);
---

<Layout title="Resources | Baltac Mihai">
  <main>
    <h1>{content.title}</h1>
    <FilterCard
      cardContent={projects}
      filter={[filters]}
      labelName={content.filter}
      hrefAdded="project"
      client:load
    />
  </main>
</Layout>

<style lang="scss">
  @use "../styles/settings" as *;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    @include mobile {
      margin-bottom: 10%;
    }

    h1 {
      @extend %title-size;
      margin-top: 3.5rem;
      text-align: center;
    }
  }
</style>
