---
import Layout from "../layouts/Layout.astro";
import content from "../content/thankyou.json";
import LinkBtn from "../components/atoms/LinkBtn.astro";
---

<Layout title="Thank you | Baltac Mihai">
  <main>
    <h1>{content.title}</h1>
    {
      content.message?.map((paragraph) => {
        return <p>{paragraph}</p>;
      })
    }
    <LinkBtn href={content.cta.src} text={content.cta.text} />
  </main>
</Layout>

<style lang="scss">
  @use "../styles/settings" as *;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include mobile {
      margin-bottom: 10%;
    }

    h1 {
      @extend %title-size;
      margin-top: 7.5rem;
    }

    h2 {
      margin-top: -1rem;
      color: $cl-gray;
      text-align: center;

      @extend %subtitle-size;
    }
    p {
      @extend %text-size;
      text-align: center;
      width: 75%;
      margin: 1rem 0;
    }
  }
</style>
