---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank you | Baltac Mihai">
  <main>
    <h1>Thank you</h1>
    <p>
      Thank you for contacting me! Being a freelancer, I take great delight in
      providing my clients with good service. Your message has been received,
      and I will evaluate it as soon as possible.
    </p><p>
      I realize how precious your time is, and I appreciate you taking the time
      to contact me. Please be assured that I will reply to your request as soon
      as possible.
    </p><p>
      Meanwhile, if you have any more questions or would want to learn more
      about my services, please explore my portfolio or visit my social media
      sites. I am always willing to speak with prospective clients and answer
      any questions they may have.
    </p>

    <a href="/" class="btn">Back to homepage!</a>
  </main>

  <style lang="scss">
    @use "../assets/scss" as *;

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include phone {
        margin-bottom: 10%;
      }

      h1 {
        font-size: $page-title-size;
        @include tablet {
          font-size: 7rem;
        }

        @include phone {
          font-size: 2.5rem;
        }
      }

      h2 {
        margin-top: -1rem;
        color: $cl-grey;
        text-align: center;

        font-size: $title-size;
        @include tablet {
          font-size: 5.5rem;
        }

        @include phone {
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        width: 75%;
        margin: 1rem 0;
      }
      a.btn {
        position: relative;
        text-decoration: none;
      }
    }
  </style>
</Layout>
