@import "../../global.scss";

.container {
  display: flex;
  justify-content: space-evenly;
  background: rgb(253, 242, 29);
  background: linear-gradient(
    144deg,
    rgb(253, 219, 107) 0%,
    rgb(253, 77, 77) 100%
  )no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
  }
}
