a.link {
  color: #5d60ef;
  padding-bottom: 0.5px;
  text-decoration: none;
}

a.link p {
  display: inline;
  border-bottom: 2px solid #5d60ef;
  margin: 0 5px;
}

.content section {
  margin-bottom: 5rem;
}

.content h2 {
  margin-bottom: 2rem;
}
.content h3 {
  margin: 2.5rem 0;
}

.content p {
  margin: 2rem 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.7777778;
  display: inline;
}

.content p:empty {
  display: block;
}

.content img {
  max-width: 90%;
  margin: 2.5rem 0;
  display: block;
}
@media (max-width: 1025px) {
  .content img:not(.icon) {
    max-width: 100%;
    width: 100% !important;
  }
}

.mt-1 {
  margin-top: 4rem;
}

.bold {
  font-weight: bold;
}
.block {
  display: block;
}

.disclaimer {
  margin-bottom: 2rem;
}

pre {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  padding-right: 2.5rem;
}
