@use "../settings" as *;

$btn-settings: (
  bg: $cl-black,
  cl: $cl-white,
  padding: 1rem 2rem,
  br: $border-radius,
  fs: $subtitle-size,
);

// ----- Button ---- //
.btn {
  background-color: map-get($btn-settings, bg);
  color: map-get($btn-settings, cl);

  padding: map-get($btn-settings, padding);
  border-radius: map-get($btn-settings, br);

  @extend %paragraf-size;
  width: fit-content;

  position: absolute;
  bottom: 0;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

// -------------------- //
