---
---

<nav class="navbar">
  <h2 class="logo">MB.</h2>
  <div class="links">
    <a href="#">About</a>
    <a href="#">Projects</a>
    <a href="#">Resources</a>
    <a href="#">Contact</a>
  </div>
</nav>

<script>
  function getCurrentPage() {
    const url = window.location.href;
    if (url.endsWith("/")) {
      return "home";
    } else if (url.includes("/about")) {
      return "about";
    } else if (url.includes("/contact")) {
      return "contact";
    } else {
      return "unknown";
    }
  }
</script>

<style lang="scss">
  @use "../assets/scss" as *;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: calc($lg-size / 3) $lg-size;

    h2 {
      font-size: $subtitle-size;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $lg-size;

      a {
        font-size: $subtitle-size;
        color: $cl-text;
        text-decoration: none;
      }
    }
  }
</style>
