@use "responsive" as local;
@use "variables" as var;

//#region ---------- Layout Size ---------- //

$lg-size: 10%;
$md-size: 5%;
$sm-size: 5%;

%layout-size {
  padding-left: $lg-size;
  padding-right: $lg-size;

  @include local.tablet {
    padding-left: $md-size;
    padding-right: $md-size;
  }

  @include local.mobile {
    padding-left: $sm-size;
    padding-right: $sm-size;
  }
}
//#endregion

//#region ---------- Dynamic Text Size  ---------- //

%hero-size {
  font-size: var.$fs-hero;

  @include local.tablet {
    font-size: calc(var.$fs-hero * 0.75);
  }

  @include local.mobile {
    font-size: calc(var.$fs-hero * 0.5);
  }
}

%title-size {
  font-size: var.$fs-title;

  @include local.mobile {
    font-size: calc(var.$fs-title * 0.5);
  }
}

%subtitle-size {
  font-size: calc(var.$fs-title * 0.75);

  @include local.mobile {
    font-size: var.$fs-text;
  }
}

%text-size {
  font-size: var.$fs-text;
  @include local.mobile {
    font-size: calc(var.$fs-text * 0.75);
  }
}

%small-size {
  font-size: var.$fs-subtext;
}
//#endregion
