.container {
    padding: 5%;
    margin: 5%;
    background-color: rgba(245, 245, 245, 0.747);
}

.img {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.margin-top {
    margin-top: 5%;
}

@media (max-width: 600px) {
    .container,
    .margin-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}