.container {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: rgba(245, 245, 245, 0.747);
    display: block;
    position: relative;
    margin: 5% 3% 5% 7%;
}

.card:hover {
    opacity: 0.8;
}

.box1img {
    position: absolute;
    bottom: 25%;
    left: -7%;
    height: 55%;
    width: 39%;
}

@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .box1img {
        bottom: 30%;
        left: 2%;
        height: 62%;
        width: 31%;
    }
    .card {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1200px) {
    .box1img {
        bottom: 25%;
        left: -25%;
        height: 179px;
        width: 163px;
    }
}

.column {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.desc {
    margin-left: 35%;
    text-decoration: none;
}

.center {
    margin: 0 5% 0 35%;
}

.date {
    margin: 0 90% 0 0;
    color: rgba(0, 0, 0, 0.623);
}


/* Other */

.card-news {
    background-color: rgba(245, 245, 245, 0.747);
    margin: 3% 3% 5% 7%;
}

.box2img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .card {
        display: flex;
        position: relative;
    }
    .box2img {
        position: absolute;
        bottom: 17%;
        left: -6%;
        height: 324px;
        width: 366px;
    }
}

.center-news {
    position: relative;
    left: -30%;
}

@media only screen and (min-width: 1200px) {
    .box2img {
        position: absolute;
        bottom: 14%;
        left: 5%;
        height: 300px;
        width: 500px;
    }
    .center-news {
        left: 0;
    }
}

.desc-news {
    margin: 5%;
}

@media only screen and (min-width: 768px) {
    .desc-news {
        margin-left: 50%;
        text-decoration: none;
    }
    .center-news {
        margin: 0 25% 0 45%;
    }
}

.date-news {
    margin: 0 0 0 0;
    color: rgba(0, 0, 0, 0.089);
    font-size: 50px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.el-1 {
    position: absolute;
    bottom: 18%;
    left: 10%;
}

.icon {
    position: absolute;
    bottom: -3%;
    right: -5%;
    background-color: transparent;
    width: 50x;
    background: rgb(23, 174, 204);
    border-radius: 100%;
    padding: 0.75%;
}

@media only screen and (min-width: 768px) {
    .icon {
        bottom: 17%;
        right: 3%;
    }
}