* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #eeeeee;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 5%;
    text-align: center;
}

h2 {
    margin: 5%;
}

p,
a {
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    background-color: #222831;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1%;
    z-index: 99;
    align-items: center;
}

.navbar .icon {
    display: none;
}

#menu {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar {
        background-color: #22283179;
        color: #ffff;
        display: flex;
        flex-direction: column;
        height: 100%;
        display: none;
    }
    #menu {
        display: block;
        position: fixed;
        top: 5%;
        left: 5%;
        width: 10%;
        z-index: 99;
    }
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar a {
    text-decoration: none;
    color: #ffff;
}

.footer {
    background-color: #222831;
    color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1%;
    margin-top: 15%;
}

.shadow {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}