---
import Layout from "../../../layouts/Layout.astro";

const rawModules = await Astro.glob("../../../resources/sass/content/*.mdx");

const sortPage = (a, b) => {
  return a.frontmatter.order - b.frontmatter.order;
};

const modules = rawModules?.sort(sortPage);
---

<Layout title="Sass Course | Baltac Mihai">
  <main>
    <div class="course_details">
      <img src="./sass-course.svg" alt="Sass Course Image" />

      <h1>Sass Course</h1>
      <h2>Overview</h2>
      <p>
        This course was intended to meet the requirement for a complete approach
        on using Sass efficiently in projects. Because Sass is a specific
        approach, it might be difficult to obtain materials on the subject. This
        course incorporates all of the information learned from working with
        Sass for over two years. It is constantly updated to match the most
        latest versions, ensuring that the material is up to date. Furthermore,
        the course not only discusses the "how-to" parts of Sass but also gives
        answers to typical difficulties experienced while dealing with it.
      </p>
    </div>
    <div class="content">
      {
        modules?.map((module) => {
          return (
            <div class="module">
              <div class="module_frontmetter">
                <h3 class="title">{module.frontmatter.title}</h3>
                <p class="description">{module.frontmatter.excerpt}</p>
              </div>
              <div class="module_links">
                {module.internalLinks?.map((internalLink) => {
                  return (
                    <a
                      href={
                        "sass/" +
                        module.frontmatter.name +
                        "/#" +
                        internalLink.link
                      }
                    >
                      {internalLink.name}
                    </a>
                  );
                })}
              </div>
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  @use "../../../assets/scss" as *;
  main {
    padding: 0 15%;
  }

  .course_details {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
      margin: auto;

      @include mobile {
        width: 100%;
      }
    }

    h1 {
      font-size: 4rem;
      text-align: center;
      @include tablet {
        font-size: 2.5rem;
      }
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      @include tablet {
        font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.25rem;
      text-align: justify;
      color: $cl-grey;
      @include tablet {
        font-size: 1rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .module {
      border: 1px solid #676;
      padding: 1rem;
      border-radius: 10px;
      font-size: 1rem;

      .module_frontmetter {
        border-bottom: 1px solid #676;
        h3 {
          margin: 0;
          font-size: 1.5rem;
        }
        .description {
          color: $cl-grey;
          font-size: 1rem;
          @include tablet {
            font-size: 1rem;
          }
        }
      }
      .module_links {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        a {
          text-decoration: none;
          color: #5d60ef;
          padding: 1rem;
          border-radius: 10px;
          font-size: 1.5rem;

          &:hover {
            background-color: #ded7fb47;
          }
        }
      }
    }
  }
</style>
